.steel-blue {
  background-color: #2185d0;
  color: #fff;
}

.steel-blue:hover {
  background-color: #1678c2;
  color: #fff;
  text-shadow: none;
}

.dark-intense {
  background-color: #18181a;
  color: #ffffff;
}
